<p>registration works!</p>

<form>
    <div class="mb-3">
      <label class="form-label">Username</label>
      <input
        type="text"
        name="username"
        class="form-control"
        [(ngModel)]="username"
        placeholder="Username"
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        [(ngModel)]="password"
      />
    </div>
    <div class="mb-3">
        <label class="form-label">Gender</label>
        <input
          type="text"
          name="gender"
          class="form-control"
          [(ngModel)]="gender"
          placeholder="Gender"
        />
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input
          type="email"
          name="email"
          class="form-control"
          [(ngModel)]="email"
          placeholder="username@email.com"
        />
    </div>
  
    <button (click)="register()" [disabled]="!username.length || !password.length || !email.length || !gender.length">
      Register
    </button>
  </form>
